.section-inverse {
    color: #fff;
    background: #333;
  }
  
  .section-inverse h1,
  .section-inverse h2,
  .section-inverse h3,
  .section-inverse h4,
  .section-inverse h5,
  .section-inverse h6 {
    color: #fff;
  }
  
  .section-inverse .heading:after {
    background: #fff;
  }
  
  .box {
    margin-bottom: 30px;
  }

  
.services .box {
    margin-top: 20px;
  }
  
  .services .icon {
    font-size: 50px;
    color: #262626;
    margin-bottom: 10px;
  }